@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;
    scroll-behavior: smooth;
}

.container {
    overflow: hidden;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 60px;
    border-bottom: #DEB992 1px solid;
}

.titre h1 {
    color: #DEB992;
    font-size: 3.2rem;
    font-weight: 200;
    text-align: center;

    margin-top: 40px;
}

span {
    color: #DEB992;
    font-style: italic;
}

/* Text-gradient DEBUT */
.text-gradient-1 {
    color: #DEB992;
}
.text-gradient-2 {
    color: #DEB992;
}

/* .text-gradient-1 {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-2 {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
} */

.text-gradient-3 {
    background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-4 {
    background: linear-gradient( 135deg, #130CB7 50%, #130CB7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-gradient-5 {
    background: linear-gradient( 135deg, #130CB7 10%, #52E5E7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
/* Text-gradient FIN */


/* ************************************************************************************************************************************ */


/* Home DEBUT */
#section-home {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Home FIN */

/* Container DEBUT */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 1024px;
    justify-content: center; 
    /* border: yellow 2px solid; */

    overflow: hidden;
}
/* Container FIN */

/* Salutation Container DEBUT */
.salutation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: blue 2px solid; */
    width: 100%;
    margin-top: 100px;
}
/* Salutation Container FIN */

/* Nom Prenom DEBUT */
.nom_prenom {
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
    /* border: peru 2px solid; */
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
}
/* Nom Prenom FIN */

/* S DEBUT */
#section-home .s {
    /* border: green 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* S FIN */

/* JACQUE DEBUT */
#section-home .jacque {
    display: flex;
    align-items: flex-start;
    /* border: green 2px solid; */
}
/* JACQUE FIN */

/* TEEVEN DEBUT */
#section-home .teeven {
    display: flex;
    align-items: flex-end;
    /* border: green 2px solid; */
}
/* TEEVEN FIN */

/* SALUTATION p DEBUT */
.salutation-1 p, 
.salutation-2 p {
    font-size: 60px;
    font-weight: 500;
    font-style: italic;
}
/* SALUTATION p FIN */

/* S p DEBUT */
#section-home .s p {
    font-size: 250px;
    font-weight: 500;
    font-style: italic;
}
/* S p FIN */

/* JACQUE TEEVEN p DEBUT */
#section-home .jacque p,
#section-home .teeven p {
    font-size: 120px;
    font-weight: 500;
}
/* JACQUE TEEVEN p DEBUT */

#section-home .jacque p {
    padding-top: 10px;
}
#section-home .teeven p {
    padding-bottom: 20px;
}

/********** **********  Home ANIMATION DEBUT ********** **********/

.salutation-1 {
	animation: 6s ease-out 0s 1 normal forwards running bounce-1;
}
@keyframes bounce-1 {
    0% {
        transform: translateX(-5000px);
    }
    60% {
        transform: translateX(30px);
      }
      80% { transform: translateX(-10px); }
      100% { transform: translateX(0); }
}

.salutation-2 {
	animation: 9s ease-out 0s 1 normal forwards running bounce-2;
}
@keyframes bounce-2 {
	0% {
        transform: translateX(5000px);
    }
    60% {
        transform: translateX(-30px);
      }
      80% { transform: translateX(10px); }
      100% { transform: translateX(0); }
}

.s {
	animation: 10s ease-out 0s 1 normal forwards running s;
}
@keyframes s {
	0% {
		transform: translateY(450px);
        opacity: 0;
	}

    98% {
        opacity: 0.7;
    }

	100% { 
		transform: translateY(0px);
        opacity: 1;
	}
}

.jacque {
	animation: 15s ease-out 0s 1 normal forwards running jacque;
}
@keyframes jacque {
	0% {
        transform: translateX(-5000px);
      }
      60% {
        transform: translateX(30px);
      }
      80% { transform: translateX(-10px); }
      100% { transform: translateX(0); }
}

.teeven {
	animation: 15s ease-out 0s 1 normal forwards running teeven;
}
@keyframes teeven {
	0% {
        transform: translateX(5000px);
      }
      60% {
        transform: translateX(-30px);
      }
      80% { transform: translateX(10px); }
      100% { transform: translateX(0); }
}

/********** **********  Home ANIMATION FIN ********** **********/

/* ************************************************************************************************************************************ */

/* ***** 1025px - 770px DEBUT Odinateur_portable ***** */
@media (max-width: 1025px) and (min-width: 770px) {
    .salutation-1 p, 
    .salutation-2 p {
        font-size: 80px;
        font-weight: 500;
    }

    #section-home .nom_prenom {
        margin-top: 100px;
    }
    
    #section-home .s p {
        font-size: 170px;
        font-weight: 500;
    }
    
    #section-home .jacque p,
    #section-home .teeven p {
        font-size: 90px;
        font-weight: 500;
    }

    #section-home .jacque p {
        padding-bottom: 35px;
        padding-top: 10px;

    }
    #section-home .teeven p {
        padding-bottom: 20px;
    }
}
/* ***** 1025px - 770px FIN Odinateur_portable***** */

/* ***** 769px - 427px DEBUT Tablette ***** */
@media (max-width: 769px) and (min-width: 427px) {
    .salutation-1 p, 
    .salutation-2 p {
        font-size: 25px;
        font-weight: 400;
        font-style: italic;
    }

    #section-home .nom_prenom {
        margin-top: 100px;
    }
    
    #section-home .s p {
        font-size: 3.5rem;
        font-weight: 500;
    }
    
    #section-home .jacque p,
    #section-home .teeven p {
        font-size: 50px;
        font-weight: 500;
    }

    #section-home .jacque p {
        padding-bottom: 35px;

    }
    #section-home .teeven p {
        padding-bottom: 5px;
    }
}
/* ***** 769px - 427px FIN Tablette ***** */

/* ***** 426px - 377px DEBUT Mobile-L ***** */
@media (max-width: 426px) and (min-width: 377px) {
    .salutation-1 p, 
    .salutation-2 p {
        font-size: 25px;
        font-weight: 400;
        font-style: italic;
    }

    #section-home .nom_prenom {
        margin-top: 100px;
    }
    
    #section-home .s p {
        font-size: 3.5rem;
        font-weight: 500;
    }
    
    #section-home .jacque p,
    #section-home .teeven p {
        font-size: 40px;
        font-weight: 500;
        padding: 0PX;
    }
}
/* ***** 426px - 377px FIN Mobile-L ***** */

/* ***** 376px - 321px DEBUT Mobile-M ***** */
@media (max-width: 376px) and (min-width: 321px) {
    .salutation-1 p, 
    .salutation-2 p {
        font-size: 25px;
        font-weight: 400;
        font-style: italic;
    }

    #section-home .nom_prenom {
        margin-top: 100px;
    }
    
    #section-home .s p {
        font-size: 4.5rem;
        font-weight: 500;
    }
    
    #section-home .jacque p,
    #section-home .teeven p {
        font-size: 2.5rem;
        font-weight: 500;
        padding: 0PX;
    }
}
/* ***** 375px - 321px FIN Mobile-M ***** */

/* ***** 320px DEBUT Mobile-S ***** */
@media (max-width: 321px) {
    .salutation-1 p, 
    .salutation-2 p {
        font-size: 25px;
        font-weight: 400;
        font-style: italic;
    }

    #section-home .nom_prenom {
        margin-top: 100px;
    }
    
    #section-home .s p {
        font-size: 3.5rem;
        font-weight: 500;
    }
    
    #section-home .jacque p,
    #section-home .teeven p {
        font-size: 2.5rem;
        font-weight: 500;
        padding: 0PX;
    }
}
/* ***** 320px FIN ***** */

/* ************************************************************************************************************************************ */

/* FOOTER DEBUT */

#section-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-container {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer-content {
    display: flex;
    font-size: 30px;
    color: #E1F2F7;
    width: 1140px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-content a {
    text-decoration: none;
    color: #E1F2F7;
    cursor: pointer;
}
.footer-content a:hover {
    color: #001f33;
    cursor: pointer;
} 

/* FOOTER FIN */

.scroll-up {
    position: fixed;
    right: 10.5%;
    bottom: 10%;
    cursor: pointer;
}
  

  .fa-angles-up {
    font-size: 40px;
    color: #DEB992;
}
