
#navBar {
    display: none;
}

#top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 60px;

    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: -100%;

    z-index: 5;
}

#top-nav .nav-container {
  display: flex;
  border-bottom: #DEB992 2px solid;
  width: 1024px;
  margin: 0px 20px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
  
#top-nav .logo-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    height: 60px;
    text-decoration: none;
    color: #E1F2F7;
    font-weight: 100;
    font-style: italic;
    margin-left: 10px;
    cursor: pointer;
}
  
#top-nav .logo-desktop:hover {
    color: #001f33;
    font-weight: 500;
}

.icon-bar {
  display: flex;
  width: 100px;
  justify-content: space-between;
  font-size: 20px;
  color: #E1F2F7;
}

.icon-bar a {
  text-decoration: none;
  color: #E1F2F7;
  cursor: pointer;
}

.icon-bar a :hover {
  color: #001f33;
  cursor: pointer;
}
  
.top-nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 10px;
}
  
.top-nav-menu > li {
  overflow: hidden;
}

.top-nav-menu a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    height: 60px;
    color: #E1F2F7;
}

.top-nav-menu a:hover {
    background-color: #E1F2F7;
    color: #001f33;
}


@media (max-width: 1024px) {
    #top-nav {
        display: none;
    }

    #navBar {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 60px;
    
        position: sticky; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        height: -100%;
    
        z-index: 5;
    }
    
    #navBar .nav-container {
        display: flex;
        border-bottom: #DEB992 2px solid;
        width: 1024px;
        margin: 0px 20px;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    
    #navBar .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 55px;
        height: 60px;
        text-decoration: none;
        color: #E1F2F7;
        font-weight: 100;
        font-style: italic;
        margin-left: 10px;
        cursor: pointer;
    }
      
    #navBar .logo-mobile:hover {
        color: #001f33;
        font-weight: 500;
    }
    
    .menuItem {
      display: block;
      margin: 1.4rem 6rem;
      font-size: 1.4rem;
      color: #E1F2F7;
      text-decoration: none;
      text-align: center;
 
    }
      
      
    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
      
    .closeIcon {
        display: none;
    }
      
    .menu {
        position: fixed;
        transform: translateY(-170%);
        transition: transform 0.6s ease-out;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        color: #DEB992;
        list-style: none;
        overflow-y: visible;
    
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
      
    .showMenu {
        transform: translateY(0);
    }
    
    .menuIcon, .closeIcon {
        color: #DEB992;
        font-size: 35px;
    }
}

  



